<a href="https://colab.research.google.com/github/talikagupta/Movie-Recommendation-System/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np
import difflib #if a user makes an error in input---to give close suggestions
from sklearn.feature_extraction.text import TfidfVectorizer #to convert textual data to numerical data
from sklearn.metrics.pairwise import cosine_similarity

##Data Collection and PreProcessing

In [51]:
# loading the data from .csv file to pandas data frame
movies = pd.read_csv('/content/movies.csv')

In [52]:
movies.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [53]:
movies.shape #rows x cols

(4803, 24)

In [54]:
#features selection 
selected_features = ['genres', 'keywords', 'tagline', 'cast', 'director']

In [55]:
#replacing all the null values with null string
for feature in selected_features:
  movies[feature] = movies[feature].fillna('')

In [56]:
# combining all the selected features into a single feature(string)
combined_features = movies['genres']+' '+movies['keywords']+' '+movies['tagline']+' '+movies['cast']+' '+movies['director']
#print(combined_features)

In [57]:
# converting the textual/string data to feature vectors(int numerical form)

#creating an instance of Tfidfvectorizer
vectorizer = TfidfVectorizer()

In [58]:
feature_vectors = vectorizer.fit_transform(combined_features)
#print(feature_vectors)

##cosine similarity

In [59]:
#getting the cosine confidence value(score) using cosine similarity

similarity = cosine_similarity(feature_vectors)

In [60]:
similarity.shape

(4803, 4803)

In [61]:
#print(similarity) #similarity is a 4803x4803 matrix

In [62]:
#creating a list of all the movie titles
title_list = movies['title'].tolist()
#print(title_list)

In [63]:
#getting a movie title input from the user
movie_title = input("Enter a movie name to get recommendations: ")

Enter a movie name to get recommendations: interstell

In [64]:
# finding the close match for the movie name given by the user

close_match_list = difflib.get_close_matches(movie_title, title_list)
print(close_match_list)

['Interstellar', 'Cinderella', "Winter's Tale"]

In [65]:
close_match = close_match_list[0]
print(close_match)

Interstellar

In [66]:
#finding the index of close_match
index = movies[movies['title']==close_match]['index'].values[0]
print(index)

95

In [67]:
#getting the row of similarity matrix[index] and putting it into a list
similarity_list = list(enumerate(similarity[index]))
#print(similarity_list)

In [68]:
#sorting the similarity_list in descending order based on the similarity score
sorted_similarity_list = sorted(similarity_list, key = lambda x:x[1], reverse=True)
#print(sorted_similarity_list)

In [69]:
#print the top 10 movies in the sorted_similarity_list

print("Top 10 movies suggested for you: \n")
i=1
for movie in sorted_similarity_list:
  idx = movie[0]
  title_of_idx = movies[movies['index'] == idx]['title'].values[0]
  if(i<=10):
   print(i, '.', title_of_idx)
   i+=1

Top 10 movies suggested for you:

1 . Interstellar
2 . The Dark Knight Rises
3 . The Matrix
4 . The Martian
5 . Dear Frankie
6 . Argo
7 . The Matrix Revolutions
8 . The Matrix Reloaded
9 . The Terminator
10 . Armageddon

##Movie Recommendation System

In [71]:
movie_title = input("Enter a movie name to get recommendations: ")
title_list = movies['title'].tolist()

close_match_list = difflib.get_close_matches(movie_title, title_list)

close_match = close_match_list[0]

index = movies[movies['title'] == close_match]['index'].values[0]

similarity_list = list(enumerate(similarity[index]))

sorted_similarity_list = sorted(similarity_list, key = lambda x:x[1], reverse = True) 

print("Top 10 movies suggested for you: \n")
i=1
for movie in sorted_similarity_list:
  idx = movie[0]
  title_of_idx = movies[movies['index'] == idx]['title'].values[0]
  if(i<=10):
   print(i, '.', title_of_idx)
   i+=1

Enter a movie name to get recommendations: spiderman
Top 10 movies suggested for you:

1 . Spider-Man
2 . Spider-Man 3
3 . Spider-Man 2
4 . The Notebook
5 . Seabiscuit
6 . Clerks II
7 . The Ice Storm
8 . Oz: The Great and Powerful
9 . Horrible Bosses
10 . The Count of Monte Cristo